.dropdown, .dropdown-menu {
  .dropdown-item { border-radius: 0; }
  .dropdown-item.active { background-color: $bg-primary; }
  & > li > a { display: block; padding: .15rem .5rem; color: #000; font-size: .75rem;
    .fa { color: $interact-primary; margin-right: .15rem; }
    &:hover { background-color: #ededed; text-decoration: none;
      .fa { color: #0056b3; }
    }
  }
  .divider { height: 1px; margin: .4rem 0; overflow: hidden; background-color: #e5e5e5; }
  /** Submenus */ .dropdown-submenu { position: relative; display: block;
    .dropdown-submenu-button:after { font-family: FontAwesome; content: "\f0da"; position: absolute; top: 50%; transform: translateY(-50%); right: 10px; }
    .dropdown-submenu-flyout { left: 100%; display: block; top: -25px !important; display: none; padding-top: 0;
      .btn-group { width: 100%; }
      .btn { width: 50%; }
    }
    &.dropdown-submenu-left .dropdown-submenu-flyout { right: 100%; left: auto; }
    &:hover .dropdown-submenu-flyout { display: block; padding: 0.5rem 0; }
  }
}
