// Global branded styling. App specific styling should NOT go in this file

/***** Brand Colors *****/
$brand-primary: #507ec0;
$brand-primary-lt: #507ec0;
$brand-primary-dk: #183c70;

/***** Brand Colors *****/
$interact-primary: $brand-primary-dk;
$interact-primary-lt: $brand-primary;
$interact-primary-dk: $brand-primary-dk;

/***** Borders *****/
$border                     : $brand-primary;

/***** Backgrounds *****/
$bg-primary                 : $brand-primary;
$bg-primary-lt              : $brand-primary-lt;
$bg-primary-dk              : $brand-primary-dk;
